// Universal Affects

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    font-family: 'Open Sans', sans-serif;
}

button:focus{
    outline: none;
}

li{
    list-style: none;
}

a:hover{
    text-decoration: none;
}

.pre-loader{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: whitesmoke;

    /* z-index:stacks one on each other based on value  */
    z-index: 999;

    visibility: visible;

    // convert row into column 
    display: grid;

    // On X-axis
    justify-content: center;

    // On Y-axis
    align-items: center;
}

.btn-lg:hover{
    color: lightgreen;
    background-color: whitesmoke;
}

.nav-link{
    color: yellow;
    font-size: 1.4rem;
}

.nav-link:hover{
    color: lightcoral;
}

#banner{
    // linear-gradient:Default value Bottom
    background: linear-gradient(rgba(122,34,5,0.1),rgb(0,0,22)),url(./Banner-1.jpg);
    background-position: center;
    background-repeat: no-repeat;

    // The CSS object-fit property is used to specify how an <img> or <video> should be resized to fit its container.
    background-size: cover;

    // Parallax Affects
    background-attachment: fixed;

    .min-height{
        min-height: 100vh;
    }

    .underline{
        width: 290px;
        height: .3rem;
    }

    .brand{
        color:chartreuse!important;
        font-weight: bold;
        background-color: lemonchiffon;
    }
}

#about{
    .underline-two{
        width: 100px;
        height: .4rem;
    }

    .image-container{
        transition: transform all 2s ease-in-out;
    }
    .image-container:hover{
        transform: rotateY(50deg);

        // outline:size style color
        outline:5px dashed yellowgreen;
    }
}

.underline-two{
    width: 170px;
    height: .4rem;
}

#skills{
    .fa-chair{
        color: red;
    }
}

#gallery{
    .work-container{
        max-width: 90vw;

        // margin:top & bottom
        margin: 2rem auto;

        .work-item{
            background:linear-gradient(rgb(255, 255, 0),rgb(241, 241, 29));
            overflow: hidden;

            // /* position: relative, it’ll remain “in the flow” of the layout but you can move it around! */
            position: relative;

            .work-item-image{
                width: 100%;
                height: 100%;

                // Displays an element as a block element (like <p>). It starts on a new line, and takes up the whole width.
                display: block;

                opacity: 1;

                // transition:default value transition-timing-function
                // linear - specifies a transition effect with the same speed from start to end.
                transition: all 1s linear;
            }

            .work-item-icon{
                // /* position: absolute takes elements “out of flow” so its grid space gets collapsed. */
                position: absolute;

                top: 50%;
                left: 50%;

                // For inline-block we can add top right margin padding.
                //It does not move to next line. 
                display: inline-block;

                font-size: 4rem;
                transition: all 0.5s ease;
                transform: scale(0);
            }
        }  

        .work-item:hover{
            .work-item-image{
                opacity: 0.5;
                transform: scale(1.3);
            }
            .work-item-icon{
                transform: scale(1.3) translate(-50% ,-50%); 
            }  
            .work-item-icon:hover{
                cursor: pointer;
                // color: crimson!important;
            }
        }
    }  
}

// Media Queries
@media screen and (min-width:576px){
    .work-container{
        // convert row into column
        display: grid;
        
        grid-template-columns: 1fr 1fr;
        
        grid-gap: 1rem;
    }
}

@media screen and (min-width:992px){
    .work-container{
        height: 100vh;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
    }    
}